


:root {
    --primary-colour:  rgb(224, 217, 255);
    --secondary-colour: rgb(104, 56, 114);
    --highlight-colour: rgb(135, 18, 145);
    --base-colour: rgb(53, 53, 53);
    --font-colour: rgb(65, 65, 65);

}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--font-colour);
    background-color: var(--base-colour);
}

header {
    background-color: var(--secondary-colour);
    padding: 2%;
    margin: 0;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}

section {
    border-radius: 20px;
}

header h1 {
    color:var(--primary-colour);
    font-weight: lighter;
}

header nav {
    border: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

header a{
    color: var(--font-colour);
    text-decoration: none;
    background-color: var(--primary-colour);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

header a:visited{
    color: var(--highlight-colour);

}

.parent-gallery{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(590px,1fr));
}

